@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Otomanopee One', sans-serif;
}

body{
  background-image: linear-gradient(to right, #3f5efb, #fa46fc);
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  height: 100vh;
}

.content{
  width: 80vw;
}

h1{
  text-align: center;
}

.btn{
  border: 0;
  width: 200px;
  height:40px;
  margin: 8vh auto;
  background-color: rgba(175, 166, 166, 0.301);
  box-shadow:  inset 0 0 1em rgb(143, 75, 221), 0 0 1em white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: all 200ms linear;
}